body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1024px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1024px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:397px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"AGCrownStyle-Italic", "AGCrownStyle Italic", "AGCrownStyle Normal", "AGCrownStyle", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:348px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1222px;
  top:158px;
  width:220px;
  height:397px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"AGCrownStyle-Italic", "AGCrownStyle Italic", "AGCrownStyle Normal", "AGCrownStyle", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:348px;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:397px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"AGCrownStyle-Italic", "AGCrownStyle Italic", "AGCrownStyle Normal", "AGCrownStyle", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:348px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:158px;
  width:220px;
  height:397px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"AGCrownStyle-Italic", "AGCrownStyle Italic", "AGCrownStyle Normal", "AGCrownStyle", sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:348px;
}
#u281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:649px;
  width:689px;
  height:135px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Regular", "Montserrat", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:107px;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:170px;
  width:384px;
  height:402px;
  display:flex;
  transition:none;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:402px;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:816px;
  width:332px;
  height:51px;
}
#u284_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(249, 154, 28, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:0.7572926878929138px;
  border-style:solid;
  border-color:rgba(233, 237, 239, 1);
  border-radius:18.175025939941406px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u284_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u284_state0_content {
  left:-0.7572926878929138px;
  top:-0.7572926878929138px;
}
#u285 {
  position:absolute;
  left:134px;
  top:15px;
}
#u285_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u285_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Montserrat-Bold", "Montserrat Bold", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.12px;
  color:#121212;
  line-height:19px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:1px;
  width:187px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Montserrat-Bold", "Montserrat Bold", "Montserrat", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.12px;
  color:#121212;
  line-height:19px;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
